.checkboxContainer {
  height: calc(1.5em + 0.75rem + 2px);
  margin-bottom: 1rem;
  text-align: left;
}

.customCheckbox {
  padding: .515rem 1.25rem;
}
.customCheckboxFeedback {
  display: block;
  margin-top: -13px;
}
.customCheckbox > input {
  width: 1.3rem;
  height: 1.3rem;
  margin-top: 0;
}

.customCheckbox > label {
  margin-left: .5rem;
}

.formcontrol-error > input {
  outline: 2px solid #3b80bd;
}
